.createdoctor {
background-image: url(https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=740&t=st=1682139053~exp=1682139653~hmac=4a49f746353ca9c7085e1741ad1466d0c9aebf696bb1c02981be960d3a674528);
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
background-position: center;
background-size: cover;


}